.howitworks-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: clamp(92vw, 98vw, 98vw);

  justify-content: space-evenly;

  margin-bottom: 15%;
}

@media (-webkit-max-device-pixel-ratio: 1.25) {
  /* DPI SCALING 100% */
  .hrndots hr {
    border: 1px solid rgb(35, 101, 224);
    width: 64vw;
    /* margin: auto; */
    border-radius: 3px;
    /* transform: rotateZ(90deg); */
    position: absolute;
    top: 47.5vh !important;
    /* top: 49.5vh !important ; */
    left: 17vw;
  }
  .hrndots {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .howitworks-container li {
    list-style: none;
    position: absolute;
    top: 21.5vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .howitworks-container li:before {
    content: "•";
    font-size: 400%;
    color: #34639b;
    position: absolute;
    left: 4rem;

    /* margin-bottom: 100vh; or whatever */
    /* padding-right: 5px; */
  }
}
@media (-webkit-min-device-pixel-ratio: 1.25) {
  /* DPI - SCALING 125% */
  .hrndots hr {
    border: 1px solid rgb(35, 101, 224);
    width: 65vw;
    /* margin: auto; */
    border-radius: 3px;
    /* transform: rotateZ(90deg); */
    position: absolute;
    top: 53vh !important;
    /* top: 49.5vh !important ; */
    left: 16vw;
  }
  .hrndots {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .howitworks-container li {
    list-style: none;
    position: absolute;
    top: 23.5vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .howitworks-container li:before {
    content: "•";
    font-size: 400%;
    color: #34639b;
    position: absolute;
    left: 4rem;

    /* margin-bottom: 100vh; or whatever */
    /* padding-right: 5px; */
  }
}

.howItWorks1 {
  height: 20rem;
  width: 10rem;

  display: flex;
  flex-direction: column;
}
.howItWorks1 img {
  width: clamp(10vw, 14vw, 14vw);
  height: clamp(10vw, 10vw, 14vw);
}
.howItWorks1 p {
  text-align: left;
  margin-top: 50%;

  color: #34639b;
}

.howItWorks2 {
  height: 20rem;
  width: 10rem;

  display: flex;
  flex-direction: column;
}
.howItWorks2 img {
  width: clamp(10vw, 14vw, 14vw);
  height: clamp(10vw, 10vw, 14vw);

  margin-top: 30%;
}
.howItWorks2 p {
  text-align: left;
  color: #d3c95a;
}
.howItWorks3 {
  height: 20rem;
  width: 10rem;

  display: flex;
  flex-direction: column;
}
.howItWorks3 img {
  width: clamp(10vw, 14vw, 14vw);
  height: clamp(10vw, 10vw, 14vw);
}
.howItWorks3 p {
  text-align: left;

  margin-top: 50%;
  color: #007872;
}
.howItWorks4 {
  height: 20rem;
  width: 10rem;

  display: flex;
  flex-direction: column;
}
.howItWorks4 img {
  width: clamp(10vw, 14vw, 14vw);
  height: clamp(10vw, 10vw, 14vw);

  margin-top: 30%;
}
.howItWorks4 p {
  text-align: left;
  margin-top: 10%;
  color: #ff5050;
}
.top {
  height: 40%;
  width: auto;

  margin-bottom: 3vh;
}

.bottom {
  margin: auto;
  width: auto;
  margin-top: 7vh;
}

@media (max-width: 769px) {
  .howitworks-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .howItWorks1 {
    font-size: small;
    height: 10rem;
    width: 98vw;

    display: flex;

    flex-direction: row;
    justify-content: center;
  }
  .howItWorks1 img {
    width: 30vw;
    height: 30vw;
    border-radius: 5px;
  }
  .howItWorks1 .bottom {
    text-align: left;
    margin-top: -20%;
  }

  .howItWorks2 {
    font-size: small;
    height: 10rem;
    width: 98vw;

    display: flex;

    flex-direction: row;
    justify-content: center;
  }
  .howItWorks2 img {
    width: 30vw;
    height: 30vw;
    border-radius: 5px;
    margin: auto;
  }
  .howItWorks2 .top {
    text-align: left;
  }
  .howItWorks3 {
    height: 10rem;
    width: 98vw;
    font-size: small;
    display: flex;

    flex-direction: row;
    justify-content: center;
  }
  .howItWorks3 img {
    width: 30vw;
    height: 30vw;
    border-radius: 5px;
  }
  .howItWorks3 .bottom {
    text-align: left;
    margin-top: -20%;
  }
  .howItWorks4 {
    height: 10rem;
    width: 98vw;

    display: flex;
    font-size: small;
    flex-direction: row;
    justify-content: center;
  }
  .howItWorks4 img {
    width: 30vw;
    height: 30vw;
  }
  .howItWorks4 .top {
    text-align: left;
    margin-top: 10%;
  }
  .left {
    width: 45%;
  }
  .right {
    margin-top: -0%;
    margin-right: 0%;
    width: 45%;
  }

  .howitworks-container li {
    list-style: none;
    position: relative;
  }

  .howitworks-container li:before {
    transform: rotateZ(90deg);
    content: "•";
    font-size: 500%;
    color: #396dcf;
    position: absolute;

    bottom: 11vh;
    left: auto;
    /* margin-bottom: 100vh; or whatever */
  }
  .hrndots {
    display: flex;
    flex-direction: column;
    position: relative;
 
   
  }
  .hrndots hr {
    border: 1px dashed rgb(134, 140, 216);
    width: 80vh;
    /* margin: auto; */
    border-radius: 3px;
    transform: rotateZ(90deg);
    position: absolute;
    left:-23.5vw;
    margin-top: 20vh;
  }
}
