 .howitworks-container{
display: flex;
flex-direction: row;
width: clamp(92vw,95vw,98vw);
margin-right:  2%;
justify-content: space-around;
 }


 .howItWorks1{
   height: 30rem;
   width: 20rem;
 
   display: flex;
   flex-direction: column;


 }
 .howItWorks1 img{
   width: clamp(10rem,15rem,20rem);
   margin-left: 15%;
 }
 .howItWorks1 p{
   text-align: center;
   margin-top: 40%;
 }

 .howItWorks2{
   height: 30rem;
   width: 20rem;
 
      display: flex;
   flex-direction: column-reverse;
 }
  .howItWorks2 img{
   width: clamp(10rem,15rem,20rem);
      margin-left: 12%;
      margin-top: 10%;
 }
 .howItWorks2 p{
   text-align: center;

 }
 .howItWorks3{
   height: 30rem;
   width: 20rem;
   
      display: flex;
   flex-direction: column;
 }
  .howItWorks3 img{
   width: clamp(10rem,15rem,20rem);
   margin-left: 15%;
 }
 .howItWorks3 p{
   text-align: center;
   margin-top: 40%;
 }
 .howItWorks4{
   height: 30rem;
   width: 20rem;
    
      display: flex;
   flex-direction: column-reverse;
 }
  .howItWorks4 img{
   width: clamp(10rem,15rem,20rem);
      margin-left: 12%;
      margin-top: 10%;
 }
 .howItWorks4 p{
   text-align: center;
   margin-top: 10%;
 }
 .top{
height: 45%;
width: auto;
 
 
   margin-bottom: 4%;
 }
 .middle{
height: 7%;
width: 10%;
 border: 2px solid black;
 padding: 3%;
   margin-bottom: 4%;
   margin: auto;
   border-radius: 100%;
   text-align: center;
 }
 .bottom{
height: 45%;
width: auto;
 
 
 }
 @media(max-width:769px){
    .howitworks-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 
 }
 .howItWorks1{
   height: 15rem;
   width: 30rem;
 
   display: flex;
 
flex-direction: row;
justify-content: space-between;
 }
 .howItWorks1 img{
    margin-top:10%;
   width: clamp(6rem,13rem,12rem);
   height: auto;
 }
 .howItWorks1 p{
   text-align: center;
   margin-top: 20%;
 }
 .howItWorks2{
  height: 15rem;
   width: 22rem;
 
   display: flex;
 
flex-direction: row-reverse;
justify-content: space-between;
 }
  
  .howItWorks2 img{
    margin-top:10%;
  height: auto;
   width: clamp(6rem,13rem,12rem);
 }
 .howItWorks2 p{
   text-align: center;
   margin-top: 40%;
 }
 .howItWorks3{
  height: 15rem;
   width: 30rem;
 
   display: flex;
 
flex-direction: row;
justify-content: space-between;
 }
  .howItWorks3 img{
    margin-top:10%;
   width: clamp(6rem,13rem,12rem);
 }
 .howItWorks3 p{
   text-align: center;
   margin-top: 40%;
 }
  .howItWorks4{
  height: 15rem;
   width: 22rem;
 
   display: flex;
 
flex-direction: row-reverse;
justify-content: space-between;
 }
  
  .howItWorks4 img{
    margin-top:10%;
  height: auto;
   width: clamp(6rem,13rem,12rem);
 }
 .howItWorks4 p{
   text-align: center;
   margin-top: 40%;
 }
 .left{
height: 150px;
width: 150px;
 
 margin-top: 20%;
 
 }
 .middle:nth-child(even){
 height: 20%;
 
 border: none;
   margin-bottom: 15%;
   margin-left: 15%;
 
 }
 
 .right{
height: 150px;
width: 150px;
 
  margin-top: 20%;
 }
 }
 