.checkout-container{
    height: 100%;
 display: flex;
 flex-direction: column;
}
.checkout-heading{
    text-align: center;
       color: #304a6b;
}
.orderBoxCheckout{
   display: flex;
 flex-direction: column;
    margin-left: 3%;
  
    height: 100%;
    width: 80%;
}
.CheckoutTotal{
  margin-left: 3%;
  display: flex;
}
 
.checkoutButonContainer{
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
 
}
.checkoutButonContainer button{
 background-color:#03588C;
 color: rgb(255, 254, 254);
 margin-bottom: 3%;
 position: relative;
 left: 8%;
}
#checkoutTitle{
 
  width: 15%;
}
.orderBoxCheckout hr{
color: orangered;
border: 2px solid orangered;
width: 100%;
}
@media (max-width: 768px) {
  .checkout-container {

    height: 100%;
  }

.checkout-container hr{
width: 94vw;
}
    .checkout-heading{
    text-align: center;
}
.orderBoxCheckout{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
 margin-left: 0%;
    width: 100vw;
   
}
 
 
.CheckoutTotal{
  
  display: flex;
}
 
.checkoutButonContainer{
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;

 
 
 
 
 
 
  

 
}
.checkoutButonContainer button{
   left: 0;
 
 background-color: #03588C;
 color: rgb(255, 254, 254);
 margin: auto;
}
#checkoutTitle{
 
  width: 30vw;
 
  font-size:5vw;
}
#checkoutData{
 
 
 
width: 30vw;
 font-size:5vw;
}
.checkout-container p{
  margin-top: 0%;
  margin-bottom: 0%;

}
}