.checkout-container{
    height: 100%;
 
}
.checkout-heading{
    text-align: center;
       color: #304a6b;
}
.orderBoxCheckout{
    margin-left: 3%;
  
    height: auto;
    width: 80%;
}
.CheckoutTotal{
  margin-left: 3%;
  display: flex;
}
 
.checkoutButonContainer{
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
 
}
.checkoutButonContainer button{
 background-color:#03588C;
 color: rgb(255, 254, 254);
 margin-bottom: 3%;
 position: relative;
 left: 8%;
}
#checkoutTitle{
 
  width: 15%;
}

@media (max-width: 768px) {
  .checkout-container {
    height: 100vh;
  }

.checkout-container hr{
width: 94vw;
}
    .checkout-heading{
    text-align: center;
}
.orderBoxCheckout{
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
 margin-left: 0%;
    width: 100vw;
}
 
 
.CheckoutTotal{
  
  display: flex;
}
 
.checkoutButonContainer{
  top: 30%;
 position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
 
  

 
}
.checkoutButonContainer button{
 
 
 background-color: #21B24D;
 color: rgb(255, 254, 254);
 margin: auto;
}
#checkoutTitle{
 
  width: 30vw;
 
  font-size:5vw;
}
#checkoutData{
 
 
 
width: 30vw;
 font-size:5vw;
}
.checkout-container p{
  margin-top: 0%;
  margin-bottom: 0%;

}
}