 .circularcompwithtext {
  width: 30vw;
  min-height: 30vw;
  border: 1px solid rgb(218, 213, 213);
  
background-color: #faf5f5;
  border-radius: 2rem;
 margin: auto;
}
.circularcompwithgradient{
   width: 30vw;
   
   border: 1px solid rgb(218, 213, 213);
  
background-color: #faf5f5;
 height: 300px;
 width: 300px;
 margin: auto;
 color: black;
 border-radius: 100%;
 margin-bottom: 2%;
border: 1px solid rgb(151, 147, 147);
}
.contentAboutUs{
  margin-top: 10%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.paragraph p {
  background: none;
}
 
.header  {
  margin-top: -10%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
letter-spacing: 0px;
color: #0F0101;
opacity: 1;
margin-left: auto;
margin-right: auto;
  
}
.paragraph p {
    text-align: left;
    font-size: 2.4vh;
}
  
 
.homeimagecontainer{
   margin-top: 5%;
}
  .homeimagecontainer img{
 height: 50%;
 width: 50%;
}
@media (max-width: 768px) {
  .homeimagecontainer{
   margin-top: 2%;
}
  .homeimagecontainer img{
    margin-top: 5%;
 height: 35%;
 width: 35%;
}
  .circularcompwithtext {
    width: 100vw;
    height: fit-content;
   margin-top: 1rem;
  
    
  }
 
}
