h3 {
  margin: 2rem;
  font-size: 2.5rem;
}
p {
  margin: 2rem;
  font-size: 1.2rem;
}
.textcontainer {
  height: auto;
  width: 40rem;
  border: 0.5px green;
  background-color: #f6f7f5;
  border-radius: 10px;
  margin: 1rem;
}
