.signincontainer,.signupcontainer {
  height:fit-content;
  

}
.signinForm{
  height: fit-content;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.signupbutton {
  background-color: white;
  color: orange;
  margin: 1rem;
}
.signupbutton:hover {
  font-size: x-large;
}
.logo-Text{
  display: flex;
  flex-direction: row;
 
  margin-top: 40%;
 padding: 3%;
}

#left-side {
  width: 40%;
   margin: auto;
  height:  85vh;
  text-align: center;
 
}
#left-sideSp {
  width: 40%;
 
  height: auto;
  text-align: center;
 
}
#right-sideSp {
  width: 60%;
   padding-bottom: 2%;
  height:  fit-content;
  text-align: center;
 
}
.logo-Text img{
  width: clamp(1vw,6vw,8vw);
  height: auto;
}
.logo-Text h1{
 
font-size: clamp(1vw,4vw,20vw);
 color:white ;
 letter-spacing: 2px;
 margin-top: 2%;
 margin-left: 5%;
}
#right-side {
  width: 60%;
  height: 85vh;
  background-color: #eaedf1;
  text-align: center;
  align-content: center;
}
#right-side form {
  margin-top: 20%;
}
#right-side #signup {
  margin-top: 5%;
}
.Login-login {
  font-size: clamp(1rem, 2rem, 4rem);
  text-align: left;
}

 #right-side small  { color: gray;
}
 #right-side strong{ color: green;}
#right-side a{
  text-decoration: none;
}
@media (max-width: 769px) {
  .signincontainer {
    display: flex;
    flex-direction: column;
  

  margin: auto;
    border-radius: 3px;
     width: 90%;
    max-height: 100%;
   
  }
  #left-side{
   width: 0%;
   height: 50vh;
   visibility: hidden;
  }
  #left-sideSp{
   width: 0%;
 
   visibility: hidden;
  }
.logo-Text {
  transform-origin: 0 0;
  transform: rotate(270deg);
  position: relative;
  top: 50%;
  left: 30%;
  letter-spacing: 2px;
   
  }
 #right-side{
     width: 100%;
     height: 100vh;
   
 }
 #right-sideSp{
     width: 100%;
     text-align: center;
     height: auto;
     margin: auto;
   
 }

}
