@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');

.imagecontainer {
  width: 100%;
  height: 50vh;
 
 
  
 margin-bottom: 2%;
 
 justify-content:baseline ;
 position: relative;
  text-align: right;
  
  
}
.imagefield {
 
 width: 100vw;
height: 100%;
 
   
}
    
.slidertext{
  
font-family: 'Exo', sans-serif;
    display: flex;
    flex-wrap: wrap;
    font-size:  clamp(200%,350%,400%);
    position: absolute;
  top: 15%;
  left: 57%;
  max-width: 30vw;
  color: rgb(218, 99, 30);
  letter-spacing: 10px;
  font-weight: bold;
}
.sliderSubText {
  position: absolute;
  top: 12rem;
  color: rgb(218, 99, 30);
  left: 47%;
  font-size:  clamp(100%,180%,200%);
}
@media(max-width:769px){
    .imagefield {
        width: 100vw;
        height: 100%;
    
         
      }
      .imagecontainer {
        width: 100%;
        height: 38vh;
       margin-top: 0%;
           margin-left:0%;
   
       
       justify-content:baseline ;
       position: relative;
        text-align: center;
        
        
      }
      .slidertext{
  
font-family: 'Exo', sans-serif;
    display: flex;
    flex-wrap: wrap;
    font-size:  clamp(150%,150%,250%);
    position: absolute;
  top:22%;
  left: 56%;
  max-width: 40vw;
  color: rgb(218, 99, 30);
  letter-spacing: 2px;
  font-weight: bold;
}
.sliderSubText {
  position: absolute;
  top: 8rem;
  color: rgb(218, 99, 30);
  left: 44%;
  font-size:  clamp(50%,80%,100%);
 
}
        
}