.otherselectvehicle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.disabled{
border:1px solid grey;
opacity: 60%;
background-color: gray;
}
.bookingform{
    height: auto;
    justify-content:   space-between;

    border: 2px solid #013759;
 background-color: #faf7f7;
   display:flex ;
 flex-wrap: wrap;
 
  margin: auto;
  width: 87%;
  margin-bottom: 4%;
  padding: 10px;
 
}
 .carbox-container{
     display: flex;
     flex-direction: row;
 
  justify-content: left;
  align-items: center;
     width: auto;
     height: 10rem;
       
 }
 .disabledCheckBox{
  
     border: 1px solid red;
 }
 .surfaceContainer{
 
     display: flex;
     flex-direction: row;
     flex-wrap:wrap ;
 }
 .surfaceContainer p{
     margin-left: -1%;
     right: 0%;
     position: relative;
 }
 .surfaceContainer input{
     margin-left:2%;
     height:20px;
     width:20px;
    cursor:pointer;
    margin-right: 0%;
 
 
 }
 @media(max-width:769px){

    .surfaceContainer{
 
      
  position: relative;
     left: 0%;
     display: flex;
     flex-direction: row;
     flex-wrap:wrap ;
 }
 .surfaceContainer p{
  position: absolute;
     margin-left: 30%;
     position: relative;
 }
 .surfaceContainer input{
     position: absolute;
     left: -45%;
     margin-left:-100%;
     height:20px;
     width:20px;
    cursor:pointer;
    
 
 
 }
      .carbox-container{
     display: flex;
     flex-direction: column;
     
    padding: 1rem;
     width: auto;
     height: auto;
       
 }
 .bookingform{
     display: flex;
     flex-direction: column;
     margin-bottom: 4%;
 }
 .bookingform-left{
      
     display: flex;
     flex-direction: column;
    background-color: yelow;
 }
 .bookingform-right{
     margin-top: 10%;
  
      
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 
 }
  .carbox-container_null{
      height: auto;
      width: auto;
  }
 .bookingform a{
       font-size:clamp(0.5rem,1rem,2rem);
  font-family: 'Josefin Sans', sans-serif;
 }
 .bookingform input{
margin-left: 0%;
 }
 .bookingform h2{
     font-family: 'Josefin Sans', sans-serif;
 }
 .bookingform-left{
     width: 60%;
     display: flex;
     flex-direction: column;
 
 }
 .bookingform-right{
     margin-top: 15%;
   
      width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
  .buttonrow button{
 position: relative;
 left: 0.1vw;
 top: -20px;
  }
 
 .addnewCarButton img{
     margin-top: 10%;
     height: 3vw;
     width: 3vw;
     border: 2px solid black;
     padding: 20%;
     border-radius: 100%;
 }
  .addNewCarButtonContainer strong{
      position: relative;   
    top: 3px;
    left: 5px;
      letter-spacing: 2px;
      font-weight: normal;
  }
 .bookingform select{
     width: 31%;
 }
 @media(max-width:769px){
.bookingform select{
     width: 72%;
     margin-left: 2%;
 } 
 .bookingform input{
      margin-left: 2%;
      width: 50vw;
 }
  .addnewCarButton img{
     height: 8vw;
     width: 8vw;
     position: relative;
     left: -16vw;
 }
  .addNewCarButtonContainer strong{
     position: relative;
      font-weight: normal;
      letter-spacing: 2px;
     left: -16.5vw;
  }
  .buttonrow  {
 
      width: 50vw;
      display:flex;
justify-content: center;
align-items: center;
 margin-bottom: -30%;
  }
.buttonrow button{
    width: 35vw;
position: relative;
margin-left: -25%;
font-size: 3.5vw;
    }
 
 .carbox-container{
  
     
     width: 80vw;
     margin-left: -2%;
     display: flex;
     justify-content: center;
     align-items: center;
     
 }
 .bookingform label{
     position: relative;
     margin-left: 2%;
 }
 }
 .priceRowService p {
 
     margin-left: 0%;
     margin-top: 0%;
 }