.editpage-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.edit-form{
        display: flex;
    flex-direction: column;
}
.edit-form button {
    text-align: center;
    margin-left: 10%;
}
.editpage-container label{
margin-left: 10%;
font-weight: 600;
color: grey;
}
.noEdit{
    opacity: 10%;
   cursor: none;
}