.cartbody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100vw;
 
  margin-left: 1rem;
  align-content: space-between;
 
}
.emptycart{
  height: 100vh;
 margin-top: auto;
}
.cart1 {
 
  margin-right: 3rem;
  width: 60vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
 
} 
 
.cart2 {
  
  flex-wrap: wrap;
  min-width: 30vw;
 
  
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
 
  height: fit-content;
  align-content:  left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
   font-size: clamp(1rem,3rem,4rem);
  
}
 
 
.cartcomponent {
 
 display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 margin: 1rem;
  margin-left: 0;
 justify-content: left;
  border-radius: 5px;
  margin-bottom: 3rem;
}
.cartcomponent img{
width: 360px;
height: 434px;
  
}
.leftcart{
 
 
}
.dateContainerCart input{
 margin-left: 11%;
}
.timeContainerCart {
  margin-top: -4%;
}
.durationContainerCart label{
margin-left: -11%;
}
@media(min-width:769px){
.rightCart{
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60vh;
  margin-left: 10%;
}
 
}

.rightCart input{
height: 2rem;
margin-right: auto;
}
.rightCart select{
  height: 2rem;
  margin-left: 1rem;
  width: 10.2rem;
}
.cartheading{
  text-align: left;
  margin: 1rem;
  color: #3b403c;
}
.cartcar{
  color: black;
  
}
 .priceContainerCart h3{
margin-left: -18%;
margin-top: 25%;
 }
 .removeButtonContainerCart button{
margin-left: 33%;
 }
@media (min-width: 769px) {
  .placeorderbtn {
    margin-left: 1.5%;
    margin-top:2%;
    margin-bottom:2%;
    background-color: #03588c
   
 
   
  }
  .placeorderbtn:hover {
    background-color: white;
    color: #03588c;
  }
  .emptycartimg{
   max-width: 20rem;
   height: auto;
   
   
    margin: auto;
      
    margin: auto;
  }
}
.cartCarName h4{
  margin-left: 0%;
  
}
.cartpackageName h3{
margin-left: 0%;
}
.headingcart {
  
  font-size: 3rem;
}

.cartselect {
  margin: 1rem;
}
.cartremovebtn {
  background-color:#03588c;
  color: White;
  margin: 1rem;
  /* border: 2px solid black;
  border-radius: 5px; */
}
.dateinput {
  max-width: 85%;
}
.timeinput {
  max-width: fit-content;
  height: fit-content;
}
.cartprice {
  text-align: left;
  margin: 1rem;
}
.cartcar {
  text-align: left;
  margin: 1rem;
}


.totalpriceitems {
  display: flex;
  justify-content: left;
 
  
}
.totalpriceitems p{
padding: -1rem;
}
.checkoutbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom:3%;
  margin-left: 15%;
}
.checkoutbutton button{
height: 2.5rem;
padding-top: 1rem;
padding-bottom: 2rem;
padding-left: 1rem;
padding-right: 1rem;

width: auto;
font-size:large;
 

}
.checkoutbutton p {
color: white;
margin: auto;

}
@media (max-width:768px) {
 
  .cart1 {
 
    width: 100%;
    
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
     
    }

.rightCart{
 
  width: 100%;
  display: flex;
  flex-direction: column;
   
  align-items: left;
}
.totalpriceitems p{

}
.timeContainerCart input{
margin-left: 2.8rem;
}
.dateContainerCart input{
margin-left: 3rem;
}
.priceContainerCart h3{
  margin-left: 0rem;
  margin-top: 2rem;
}
.removeButtonContainerCart button{
  margin-left: 5.5rem;
}
.leftCart img{
  height: 20vh;
}
.durationContainerCart label{
margin-left: 0.1rem;
}
  
  .pricebox table{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .totalpriceitems{
        align-items: center;
   margin: auto; 
   
  }
  .totalpriceCart{
    margin-top: -8%;
       margin-top: -5%;
  }
  .totalpriceitemsGST {
    align-items: center;
   margin: auto;
    margin-top: -5%;
  }
 .totalpriceitemsTotal {
     align-items: center;
   margin: auto; 
   margin-top: -8%;
   margin-left: 27%;
 }
 .totalpriceitemsTotal p{
   margin-left:0%;
 }
.checkoutbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom:3%;
  margin-left: 35%;
}
.checkoutbutton button{
 
padding-top: 1rem;
padding-bottom: 2rem;
padding-left: 1rem;
padding-right: 1rem;

width: auto;
font-size:large;
 

}
  .emptycartimg{
    width: 50%;
    height: 40%;
   
   
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
      
    margin: auto;
  }
    .cartcomponent {
      display: flex;
      justify-content: center;
      align-items: left;
    
    }
    .rightCart{
      margin-left: 0%;
    }
  .cartcomponent img{
width: 94vw;
height: 25vh;
 
  
}
.cart2{
  margin-left: 0%;
  
  width: 97%;
}
 }
 .cart2 hr{
 transform: rotateZ(0deg);
 width: 100%;
 border: 2px solid orangered;
 }
 .cart1 hr{
   margin-top: 6.5%;
 transform: rotateZ(0deg);
 width: 100%;
 border: 1px solid orangered;
 }
 
//DESKTOP
@media(min-width:769px){
 .totalpriceitemsGST p,{
margin-top:-0%;
font-weight: normal;
font-size: 1.3vw;

 }
 .totalpriceitems p{
margin-top:-0%;
font-weight: normal;
font-size: 1.3vw;
 }
  .totalpriceitemsTotal p{
margin-top:-0%;
font-weight: bold;

 }
 .totalpriceitemsTotal {
 
   margin-top: -5%;
  margin-left: -10%;
 }

}


.cart2 tbody{
   display: flex;
 flex-direction: column;
 justify-content: center;
 

}
.cart2 tr{
    justify-content: space-around;

}