.parent {
  text-align: center;
}
.swearbycontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-evenly;
  flex-direction: row;
  margin: 2rem;
 width: auto;
  min-height: 25rem;
  
}
.swearbycontainer  img{
  width: 20vw;
  height: 20vw;
}
.circcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:p;
  margin: 2rem;
  
      min-height: 40rem;
}
.custsatcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 2rem;
  justify-content: space-around;
 
      min-height: 25rem;
}
.main h1 {
  text-align: center;
  font-size: clamp(2rem,3vw,4rem);
  margin-top: 3rem;
    font-family: 'Josefin Sans', sans-serif;
}
@media(max-width:769px){
  .swearbycontainer{
      height: fit-content;
      margin: 0.5rem;
  }
  .circcontainer{height: fit-content;}
  .custsatcontainer{height: fit-content;}
}
.react-confirm-alert {
  height: fit-content;
  width: 25vw;
  border-radius: 5px;
  border: 2px solid rgb(145, 5, 5);
 
  
}
.promptbuttoncontainer{
  padding-bottom: 5%;
  text-align: center;
   
}
@media(max-width:769px){
 .react-confirm-alert {
  height: fit-content;
  padding-bottom: -10%;
  width: 25vw;
  border-radius: 5px;
  border: 21px solid rgb(145, 5, 5);
 
  
}
.custom-ui{
  height: 0%;
  background-color: firebrick;
}
.swearbycontainer  img{
  width: 70vw;
}
}
 