h1 {
  text-align: left;
  flex: auto;
}

.serviceboxcontainer {
  align-items: center;
}

.washingcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 1rem;
}

.sanitizationcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 1rem;
}

.detailingcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 1rem;
}

.intdetailingcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 1rem;
}

.extdetailingcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 1rem;
}
