.embbededVideoInterior{
  margin: auto;
}
  
.washingcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  
}

.Servicepage-Container h1 {
  font-family: 'Josefin Sans', sans-serif;
   text-align: left;
  font-size: clamp(2rem,3vw,4rem);
 
  margin-left: 6%;
   margin-top: 6%;
}

.washingcontainer h1,
.sanitizationcontainer h1,
.detailingcontainer h1{
    text-align: center;
  font-size: clamp(2rem,2.3vw,4rem);
 
}
@media(min-width:769px){
.Servicepage-Container img {
  position: relative;
  top: -30%;
}
 
.exteriorContainer{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
 margin-bottom: -1%;
  
  flex-direction: row-reverse;
}

}

.serviceboxcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
 justify-content: center;
 margin-top: 3%;
}
 
 
 

.sanitizationcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
 margin-bottom: -1%;
 height: fit-content;
}
.sanitRow {
  display: flex;
  flex-direction: column;
   
 
}
.InteriorDEt{
  margin-top: 2%;
}
 

.detailingcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 1rem;
}
 
.intdetailingcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 1rem;
}
.serviceHeader{
  margin-top: 5%;
  margin-bottom: 5%;
 
    text-align: center;
  font-size: clamp(2rem,3vw,4rem);
 
 
  text-align: left;
  font: normal normal bold 50px/72px Josefin Sans;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (max-width: 769px) {
  .Servicepage-Container  h1 {
    font-size: clamp(1rem,10vw,3rem);
    margin-top: 5%;
    text-align: center;
   
     
  }
 .mobileToggle-Buttons{
   display: flex;
   flex-direction: row;
 width: 100vw;
 justify-content: center;
 }
 .mobileToggle-Buttons button{
   height: 2rem;
   background-color: rgb(201, 190, 190);
   color: black;
   margin: 0.2rem;
   border: none;
   border-radius: 0%;
   cursor: pointer;
   width: auto;
 }
  .washingcontainer h1,
.sanitizationcontainer h1,
.detailingcontainer h1{
    text-align: center;
  font-size: clamp(2rem,2.3vw,4rem);
}
 .washingcontainer ,
.sanitizationcontainer ,
.detailingcontainer {
     margin: 0.5rem;
    
}
.sanitbtncontainer button,.exteriorbtncontainer button{
   margin-top: 0%;
     margin-bottom: 4%;
}
.serviceHeaderH6 h1{
  font-size: 6vw;
}
.serviceHeaderH5 h1{
  font-size: 6vw;
}
}
.extdetailingcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 1rem;
}
.sanitbtncontainer {
 margin-bottom: -2%;
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.servicebookbutton {
  background-color: #03588C;
  color: rgb(255, 255, 255);
 
 
  margin-bottom: 5%;
}
.eachservicecontainer {
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;

  box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
}

@media(min-width:769px){
  .sanitbtncontainer button{
  margin-left: 45%;
  margin-top: -8%;
}
  .serviceHeaderH2,.serviceHeaderH4{
  
position: relative;
 
left: 12vw;
 
 
  }
  .serviceHeaderH3,.serviceHeaderH5{
  
  position: relative;
  left: 50%;
  }
   .serviceHeaderH6{
      
position: relative;
 
left: 4vw;

   } 

.exteriorbtncontainer  button{
    position: relative;
    left: -48vw;
     margin-top: -8%;
   }
   .serviceHeaderH6 h1{
  font-size: 2.5vw;
  position: relative;
  left: 3.5%;
}
.serviceHeaderH5 h1{
  font-size: 2.5vw;
  position: relative;
  left: 3.5%;
}
}

