.boxwithbutton {
  height: 34rem;
  width: 20rem;
  border: 1px solid;
  border-color: black;
  opacity: 1;
  margin: 4rem;
  background: transparent linear-gradient(180deg, #95e0f1 0%, #ffffff 100%) 0%
    0% no-repeat padding-box;
  text-align: center;
  border-radius: 10px;
}
