 .myOrderMainContainer{
     min-height: 100vh;
    
 }
 
 .oneOrderBox{
  width: 96vw;
      display: flex;
     flex-direction: column;
 margin-left: 2%;
 margin-right: 2%;
 
 }
 .orderCard{
     padding: 0.5%;
     display: flex;
 border:  2px solid grey;
     height: 100%;
     margin-top: 2%;
     margin-bottom: 1%;
 }
 .ActiveOrdersContainer{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
      height: 100%;
      
 }
 .leftOrder{
 
 }
 .rightOrder{
     display: flex;
     flex-direction: column;
     justify-content:center;
 

 }
 @media(max-width:769px){
     .orderCard{
     padding: 0.5%;
     display: flex;
 border:  2px solid grey;
 border-radius: 5px;
     height: 100%;
     margin-top: 2%;
     margin-bottom: 1%;
 }
      .oneOrderBox{
  width: 96vw;
      display: flex;
     flex-direction: column;
 
 
 }
  .leftOrder{
 margin: auto;
 }
 .rightOrder{
     display: flex;
     flex-direction: row;
     justify-content:center;
     width: 100%;
 background-color: pink;

 }
 }