 .myOrderMainContainer{
     min-height: 100vh;
    
 }
 
 .oneOrderBox{
  width: 96vw;
      display: flex;
     flex-direction: column;
 margin-left: 2%;
 margin-right: 2%;
 
 }
 .orderCard{
     padding: 0.5%;
     display: flex;
 border:  2px solid grey;
     height: 100%;
     margin-top: 2%;
     margin-bottom: 1%;
 }
 .ActiveOrdersContainer{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
      height: 100%;
      
 }
 .leftOrder{
 
 }
 .rightOrder{
     width: 35vw;
 
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content:center;
     align-items: left;
 
 

 }
 #myOrdersTopic{
     width: 15vw;
 }
 #event-indication-container{
     display: flex;
    position: relative;
 margin-top: 10%;
     justify-content: space-evenly;
      
 }
 #red-indication{
background-color: red;
height: 20px;
width: 20px;
border-radius: 100%;
 }
 #green-indication{
background-color: green;
height: 20px;
width: 20px;
border-radius: 100%;
 }
 #gray-indication{
background-color: gray;
height: 20px;
width: 20px;
border-radius: 100%;
 }

 @media(max-width:769px){
     .orderCard{
     padding: 0.5%;
     display: flex;
 border:  2px solid grey;
 border-radius: 5px;
     height: 100%;
     margin-top: 2%;
     margin-bottom: 1%;
 }
      .oneOrderBox{
  width: 96vw;
      display: flex;
     flex-direction: column;
 
 
 }
  .leftOrder{
 margin: auto;
 }
 .rightOrder{
     display: flex;
     flex-direction: column;
     justify-content:center;
     width: 100%;

 

 }
 .rightOrder p{
     color: #000000;
 }
  #myOrdersTopic{
     width: 25vw;
 }
 #event-indication-container{
     display: flex;
    position: relative;
 margin-top: 0%;
     justify-content: space-evenly;
      
 }
 }