.addcarcontainer1 {
    display: flex;
    flex-direction: column;
 height: 100%;
   
   text-align: center;
    
    margin: auto;
  width: 50%;
}
.addcarcontainer1  label{
 
  font-weight: 400;
  color: gray;
  margin: auto;
}
.carname{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
    align-items: center;
   
}
.carAddress {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  margin: 1rem;
}
.selectrow1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2%;
}
 select{
  width: 30vh;
  padding: 0.2rem;
  border: 2px solid #03588C;
 }