.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200; /* so that it is above backdrop */
  transform: translateX(-100%); /* so that slider move back inside */
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0); /* so that slider move outside */
}
.side-drawer ul {
  height: 100%; /* so that it takes full height */
  list-style: none;
  display: flex; /* so that list contants doesnt have any bullets */
  flex-direction: column; /* so that list items are in vertical aligned below each other */
  justify-content: top; /* to align list items to center */
}

.side-drawer li {
  margin: 0.5rem  ; 
  border-radius: 2px;
  text-align: center;
  font-size :3rem;
   height: 5rem;
   
   border-radius: 3%;
  background-color: rgb(238, 243, 241);/* to set gap between list items */
}
.side-drawer a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #521751;
}
.side-drawer a:hover,
.side-drawer a:active {
  color: #fa923f; /* to highlight with this color when cursor goes on that */
}

@media (min-width: 769px) {
  .side-drawer {
    /*when device is of laptop dont display side drawer*/
    display: none;
  }
}
