.side-drawer {
  height: 100%;
  background: rgb(91, 82, 82);background-image: linear-gradient(to top, #858f93 0%, #e2ebf0 100%);
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 3001; /* so that it is above backdrop */
  transform: translateX(-100%); /* so that slider move back inside */
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0); /* so that slider move outside */
}
.side-drawer ul {
  height: 100%; /* so that it takes full height */
  list-style: none;
  display: flex; /* so that list contants doesnt have any bullets */
  flex-direction: column; /* so that list items are in vertical aligned below each other */
  justify-content: top; /* to align list items to center */
 
}
.userprofilecomp{
  align-items: start;
  height: 12rem;
background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
 
}  
.userimagecomp{
 
}
.usernametext{
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
text-align: left;
margin-top:1rem ;
margin-left: 2rem;
}

.userimage{
  height:6rem;
  width: 6rem;
  border: 2px solid rgb(92, 90, 90);
  border-radius: 4px;
  margin-left: 2rem;
  margin-top: 1rem;
}

.side-drawer li {
  margin: .5rem  ; 
  border-radius: 2px;
  text-align:  left;
 font-size:medium;
 font-weight: 800;
  height: 2rem;
   
  
 
   
}
.side-drawer a {
 
  width: 100%;
  
  font-weight:500;
  color:rgb(54, 58, 58);
  font-size: large;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.side-drawer a:hover,
.side-drawer a:active {
  color: #fa923f; /* to highlight with this color when cursor goes on that */
}

@media (min-width: 769px) {
  .side-drawer {
    /*when device is of laptop dont display side drawer*/
    display: none;
  }
 
}
 
.logoutSidebar button{
 position: fixed;
 margin-left: -11vw;
  background: #4C5153;
 
 
text-align: center;
 width: 100%;
 border: none;
 height: 2.5rem;
 border-radius: 0px;
 padding-top: 10%;
 padding-bottom: 10%;
}
.logoutSidebar button:hover{
  background: red;
}
.logoutSidebar p{
  text-align: center;
  font-size: larger;
  color: #cfd9df;
  margin-top: -3%;
}
.spacer1{
  flex: 1;
  background-color: #fa923f;
}
.tc-container{
 
  margin-top:10vh;
 
  
}