 .contactcontainer{
   min-height: 100vh;
   height: 100%;
 
 
   display: flex;
   flex-direction: column;
 }
 .upperContact{
display: flex;
position: relative;
 }
 .upperContact p{
   color:#FF3946;
 position: absolute;
 top: 45%;
 font-weight: bold;
 left: 50%;
 font-family: Harrington;
 font-size: clamp(2vw,5vw,6vw);
 
 }
.upperContact img{
  height: auto;
  width: 40%;
}
.lowerContact img{
  height: auto;
  width: 5%;
}
 .lowerContact{
 
height: auto;
width: 100%;
 
display: flex;
flex-direction: column;
 }
 .contactEmail{
   display: flex;
   flex-direction: column;
justify-content: center;
align-items: center;
margin-top:2%;
margin-bottom: 2%;
 
 }
 
 .contactPhone{
   display: flex;
   flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .contactField {
  
 margin-top: 3%;
 display: flex;
 flex-direction: column;
 text-align: center;
 }
.messagenEmail{
 display: flex;
 flex-direction: row;
 justify-content: center;
 
 
 flex-wrap: wrap;
 
}
.messagenEmail input{
   font-size: clamp(0.5vw,1vw,4vw);
 
  color: #03588C;
width: 20vw;
height: 6vh;
 border:2px solid #03588C;
}
.messagenMessage{
  margin-bottom: 2%;
}
.messagenMessage  input{
     font-size: clamp(0.5vw,1vw,4vw);
width: 66vw;
 
height: 15vh;
border:2px solid #03588C;
color: #BF9503;
 
}
.contactcontainer button{
  margin: auto;
width: 10vw;
margin-bottom: 2%;
height: 5vh;
border: 2px solid #03588C;
background-color: #03588C;
font-size: large;

}
 @media(max-width:769px){

.upperContact{
  margin-bottom: 15%;
}
 
.contactcontainer{
     width: 100vw;
     margin: 0%;
   }
   .upperContact img{
  height: 27vh;
  width: 100%;
}
.upperContact p{
 position: absolute;
 top: 100%;
 left: 23%;
 font-size: 8vw;
 margin-top: 3%;
 }
 .messagenEmail{
 display: flex;
 
 
}
.messagenMessage  input{
    font-size: clamp(0.5vw,2.5vw,4vw);
}
.messagenEmail input{
     font-size: clamp(0.5vw,2.5vw,4vw);
width: 66vw;
height: 6vh;
border:2px solid #03588C;
}
.contactcontainer button{
  margin: auto;
width: 40vw;
margin-bottom: 2%;
padding: 2%;
height: auto;
}
.lowerContact  img{
  width: 10%;
  margin-top: 3%;
}
 .messagenEmail{
 
 
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items:center;
 
 
 }
 .NameContact input{
    min-width: 85vw;
 }
 .EmailContact input{
    min-width: 85vw;
 }
 .messagenMessage input{
    min-width: 85vw;
 }
 .messagenMessage label{
    margin-left: -100vw;
 }
 
 }