 .contactcontainer{
   min-height: 100vh;
   height: 100%;
 
   margin-left: 4%;
   margin-right: 4%;
   display: flex;
   flex-direction: column;
 }
 .upperContact{
display: flex;
position: relative;
 }
 .upperContact p{
 position: absolute;
 top: 40%;
 left: 45%;
 font-size: clamp(1vw,3vw,4vw);
 
 }
.upperContact img{
  height: auto;
  width: 100%;
}
 .lowerContact{
 
height: auto;
width: 100%;
 
display: flex;
flex-direction: column;
 }
 .contactEmail{
   display: flex;
   flex-direction: column;
justify-content: center;
align-items: center;
margin-top:2%;
margin-bottom: 2%;
 }
 
 .contactPhone{
   display: flex;
   flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .contactField {
  
 margin-top: 3%;
 display: flex;
 flex-direction: column;
 text-align: center;
 }
.messagenEmail{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 
 flex-wrap: wrap;
 
}
.messagenEmail input{
width: 20vw;
height: 6vh;
 border:2px solid black;
}
.messagenMessage{
  margin-bottom: 2%;
}
.messagenMessage  input{
width: 66vw;
height: 15vh;
border:2px solid black;
 
}
.contactcontainer button{
  margin: auto;
width: 10vw;
margin-bottom: 2%;
height: 5vh;
border: 2px solid #BF9503;
background-color: #BF9503;
font-size: large;

}
 @media(max-width:769px){
   .contactcontainer{
     width: 100vw;
     margin: 0%;
   }
   .upperContact img{
  height: 30vh;
  width: 100%;
}
    .upperContact p{
 position: absolute;
 top: 20%;
 left: 60%;
 
 }
 .messagenEmail{
 display: flex;
 
 
}
.messagenEmail input{
   
width: 66vw;
height: 6vh;
border:2px solid black;
}
.contactcontainer button{
  margin: auto;
width: 40vw;
margin-bottom: 2%;
height: 5vh;
}
.contactEmail   img{
  width: 15vw;
}
.contactPhone   img{
  width: 15vw;
}
 }