
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    height : 100%;
   
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 
     
 
    
}
body {scroll-behavior: smooth}
body::-webkit-scrollbar {
    display: none;
  }
  body,html{
      width: 100vw;
      overflow-x: hidden;
  }

  h1{
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
 label{
     font-family: 'Open Sans', sans-serif;
 }
 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  min-width: 30%;
  align-content: center;
  margin: 1rem;
  border: 2px solid #03588c;
  height: 3rem;
  border-radius: 0%;
}
button {
  background: #03588c 0% 0% no-repeat padding-box;
  border: none;
 
  height: 2.5rem;
  width: 10rem;
  opacity: 1;
  color: white;
  font-size: larger;
  cursor: pointer;
}